titre{
    display: inline-block;
    font-size: 50px;
    text-align: center;
    padding-left: 130px;
  }
  
  .typed {
    overflow: hidden;
    white-space: nowrap;
    width: 0;
    animation: typing;
    animation-duration: 1.5s;
    animation-timing-function: steps(30, end);
    animation-fill-mode: forwards;
  }
    
  @keyframes typing {
    from { width: 0 }
    to { width: 100% }
  }
  
   .vertical-text {
    writing-mode: vertical-lr;
    text-align: center; /* Pour centrer le texte verticalement dans la cellule */
    padding: 10px; /* Pour ajouter un peu d'espace autour du texte */
  }

  table {
    border-collapse: collapse;
  }
  
  th, td {
    border: 1px solid black;
    padding: 8px;
  }

  thead th {
  width: 25%;
}