    <!-- PRODUCT TAB AREA START (product-item-3) -->
    <div class="ltn__product-tab-area ltn__product-gutter  pb-70 pt-70">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="section-title-area ltn__section-title-2 text-center">
                        <div class="container titre pt-170">
                            <h1 class="typed section-title"><span>Tarifs réglementaires.</span></h1>
                          </div>
                    </div>
                    <div class="ltn__tab-menu ltn__tab-menu-top-right--- text-uppercase text-center">
                        <div class="nav">
                            <a class="active show" data-bs-toggle ="tab" href="#liton_tab_2_1" style="background-color: #373782;
                            color: white;" >Des véhicules légers PTC &lt; 3,5 t</a>
                            <a data-bs-toggle ="tab" href="#liton_tab_2_2" style="color: white;
                            background-color: var(--bs-green);" class="">Des véhicules lourds</a>
                            <a data-bs-toggle ="tab" href="#liton_tab_2_3" style="background-color: #b68f46;
                            color: white;" class="">Titre de  propriété et plaque d'immatriculation</a>
                        </div>
                    </div>
                    <div class="tab-content">
                        <div class="tab-pane fade active show" id="liton_tab_2_1">
                            <div class="ltn__product-tab-content-inner">
                                <div class="row " style="background-color: #252589;
                                padding-top: 12px;">
                                    <!-- ltn__product-item -->
                                    <div class="col-xl-6 col-lg-6 col-sm-6 col-12" >
                                        <div class="ltn__product-item ltn__product-item-3 text-center">
                                            <table class="table table-sm">
                                                <thead>
                                                  <tr>
                                                    <th  style="background-color: #4077AF;;"colspan="2"><span style="color: #fff;">Type de contrôle technique</span></th>
                                                    <th style="background-color: gray;" colspan="2">Contrôle périodique</th>
                                                  </tr>
                                                </thead>
                                                <tbody>
                                                  <tr>
                                                    <th style="background-color: #4077AF;; color: #fff;" colspan="2">Résultat</th>
                                                    <td style="background-color: rgb(199, 202, 202);">Favorable</td>
                                                    <td style="background-color: rgb(199, 202, 202);">Défavorable</td>
                                                  </tr>
                                                  <tr>
                                                    <th  style="background-color: #4077AF;; color: #fff;" class="vertical-text" rowspan="4">Prix TTC </th>
                                                    <td style="background-color: rgb(199, 202, 202);;">Moins de 8 CV</td>
                                                    <td>350</td>
                                                    <td>240</td>
                                                  </tr>
                                                  <tr>
                                                    <td style="background-color:rgb(199, 202, 202);;">De 8 à 10 CV</td>
                                                    <td>370</td>
                                                    <td>240</td>
                                                    
                                                  </tr>
                                                  <tr>
                                                    <td style="background-color: rgb(199, 202, 202);;">De 11 à 14 CV</td>
                                                    <td>390</td>
                                                    <td>240</td>
                                                  </tr>
                                                  <tr>
                                                    <td style="background-color: rgb(199, 202, 202);;">Sup.à 14 CV</td>
                                                    <td>420</td>
                                                    <td>240</td>
                                                  </tr>
                                                </tbody>
                                              </table>
                                        </div> 
                                    </div>
                                    <div class="col-xl-6 col-lg-6 col-sm-6 col-12" >
                                        <div class="ltn__product-item ltn__product-item-3 text-center">
                                            <table class="table table-sm">
                                                <thead>
                                                  <tr>
                                                    <th  style="background-color: #4077AF;"colspan="2"><span style="color: #fff;">Type de contrôle technique</span></th>
                                                    <th style="background-color: gray;" colspan="2">Contrôle complémentaire  </th>
                                                  </tr>
                                                </thead>
                                                <tbody>
                                                  <tr>
                                                    <th style="background-color: #4077AF;; color: #fff;" colspan="2">Résultat</th>
                                                    <td style="background-color: rgb(199, 202, 202);">Favorable</td>
                                                    <td style="background-color: rgb(199, 202, 202);">Défavorable</td>
                                                  </tr>
                                                  <tr>
                                                    <th  style="background-color: #4077AF;; color: #fff;" class="vertical-text" rowspan="4">Prix TTC </th>
                                                    <td style="background-color: rgb(199, 202, 202);;">Moins de 8 CV</td>
                                                    <td>194</td>
                                                    <td>240</td>
                                                  </tr>
                                                  <tr>
                                                    <td style="background-color:rgb(199, 202, 202);;">De 8 à 10 CV</td>
                                                    <td>214</td>
                                                    <td>240</td>
                                                    
                                                  </tr>
                                                  <tr>
                                                    <td style="background-color: rgb(199, 202, 202);;">De 11 à 14 CV</td>
                                                    <td>234</td>
                                                    <td>240</td>
                                                  </tr>
                                                  <tr>
                                                    <td style="background-color: rgb(199, 202, 202);;">Sup.à 14 CV</td>
                                                    <td>264</td>
                                                    <td>240</td>
                                                  </tr>
                                                </tbody>
                                              </table>
                                        </div> 
                                    </div>
                                    <div class="col-xl-6 col-lg-6 col-sm-6 col-12" >
                                        <div class="ltn__product-item ltn__product-item-3 text-center">
                                            <table class="table table-sm">
                                                <thead>
                                                  <tr>
                                                    <th  style="background-color: #4077AF;;"colspan="2"><span style="color: #fff;">Type de contrôle technique</span></th>
                                                    <th style="background-color: gray;" colspan="2">Contrôle mutation</th>
                                                  </tr>
                                                </thead>
                                                <tbody>
                                                  <tr>
                                                    <th style="background-color: #4077AF;; color: #fff;" colspan="2">Résultat</th>
                                                    <td style="background-color: rgb(199, 202, 202);">Favorable</td>
                                                    <td style="background-color: rgb(199, 202, 202);">Défavorable</td>
                                                  </tr>
                                                  <tr>
                                                    <th  style="background-color: #4077AF;; color: #fff;" class="vertical-text" rowspan="4">Prix TTC </th>
                                                    <td style="background-color: rgb(199, 202, 202);;">Moins de 8 CV</td>
                                                    <td>300</td>
                                                    <td>240</td>
                                                  </tr>
                                                  <tr>
                                                    <td style="background-color:rgb(199, 202, 202);;">De 8 à 10 CV</td>
                                                    <td>320</td>
                                                    <td>240</td>
                                                    
                                                  </tr>
                                                  <tr>
                                                    <td style="background-color: rgb(199, 202, 202);;">De 11 à 14 CV</td>
                                                    <td>340</td>
                                                    <td>240</td>
                                                  </tr>
                                                  <tr>
                                                    <td style="background-color: rgb(199, 202, 202);;">Sup.à 14 CV</td>
                                                    <td>370</td>
                                                    <td>240</td>
                                                  </tr>
                                                </tbody>
                                              </table>
                                        </div> 
                                    </div>
                                    <div class="col-xl-6 col-lg-6 col-sm-6 col-12" >
                                        <div class="ltn__product-item ltn__product-item-3 text-center">
                                            <table class="table table-sm">
                                                <thead>
                                                  <tr>
                                                    <th  style="background-color: #4077AF;;text-align: center;"colspan="2"><span style="color: #fff;">Type de contrôle technique</span></th>
                                                    <th style="background-color: gray; font-size: 15px;" colspan="2">Contrôle mutation complémentaire</th>
                                                  </tr>
                                                </thead>
                                                <tbody>
                                                  <tr>
                                                    <th style="background-color: #4077AF;; color: #fff;" colspan="2">Résultat</th>
                                                    <td style="background-color: rgb(199, 202, 202);">Favorable</td>
                                                    <td style="background-color: rgb(199, 202, 202);">Défavorable</td>
                                                  </tr>
                                                  <tr>
                                                    <th  style="background-color: #4077AF;; color: #fff;" class="vertical-text" rowspan="4">Prix TTC </th>
                                                    <td style="background-color: rgb(199, 202, 202);;">Moins de 8 CV</td>
                                                    <td>144</td>
                                                    <td>240</td>
                                                  </tr>
                                                  <tr>
                                                    <td style="background-color:rgb(199, 202, 202);;">De 8 à 10 CV</td>
                                                    <td>164</td>
                                                    <td>240</td>
                                                    
                                                  </tr>
                                                  <tr>
                                                    <td style="background-color: rgb(199, 202, 202);;">De 11 à 14 CV</td>
                                                    <td>184</td>
                                                    <td>240</td>
                                                  </tr>
                                                  <tr>
                                                    <td style="background-color: rgb(199, 202, 202);;">Sup.à 14 CV</td>
                                                    <td>214</td>
                                                    <td>240</td>
                                                  </tr>
                                                </tbody>
                                              </table>
                                        </div> 
                                    </div>
                                    <div class="col-xl-6 col-lg-6 col-sm-6 col-12" >
                                        <div class="ltn__product-item ltn__product-item-3 text-center">
                                            <table class="table table-sm">
                                                <thead>
                                                  <tr>
                                                    <th  style="background-color: #4077AF;"colspan="2"><span style="color: #fff;">Type de contrôle technique</span></th>
                                                    <th style="background-color: gray;" colspan="2">Contrôle volontaire </th>
                                                  </tr>
                                                </thead>
                                                <tbody>
                                                  <tr>
                                                    <th style="background-color: #4077AF;; color: #fff;" colspan="2">Résultat</th>
                                                    <td style="background-color: rgb(199, 202, 202);">Favorable</td>
                                                    <td style="background-color: rgb(199, 202, 202);">Défavorable</td>
                                                  </tr>
                                                  <tr>
                                                    <th  style="background-color: #4077AF; color: #fff;" class="vertical-text" rowspan="4">Prix TTC </th>
                                                    <td style="background-color: rgb(199, 202, 202);;">Moins de 8 CV</td>
                                                    <td>300</td>
                                                    <td>240</td>
                                                  </tr>
                                                  <tr>
                                                    <td style="background-color:rgb(199, 202, 202);;">De 8 à 10 CV</td>
                                                    <td>320</td>
                                                    <td>240</td>
                                                    
                                                  </tr>
                                                  <tr>
                                                    <td style="background-color: rgb(199, 202, 202);;">De 11 à 14 CV</td>
                                                    <td>340</td>
                                                    <td>240</td>
                                                  </tr>
                                                  <tr>
                                                    <td style="background-color: rgb(199, 202, 202);;">Sup.à 14 CV</td>
                                                    <td>370</td>
                                                    <td>240</td>
                                                  </tr>
                                                </tbody>
                                              </table>
                                        </div> 
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="tab-pane fade" id="liton_tab_2_2"> 
                            <div class="ltn__product-tab-content-inner">
                                <div class="row " style="
                                padding-top: 12px;
                                background-color: var(--bs-green);
                            ">
                                    <div class="col-xl-12 col-lg-12 col-sm-12 col-12" >
                                        <div class="ltn__product-item ltn__product-item-3 text-center">
                                          <div class="table-responsive">

                                
                                            <table class="table table-sm">
                                                <thead>
                                                  <tr>
                                                    <th  style="background-color: rgb(7, 145, 85);"colspan="2"><span style="color: #fff;">Type de contrôle technique</span></th>
                                                    <th style="background-color: gray;" colspan="6">Contrôle périodique </th>
                                                  </tr>
                                                </thead>
                                                <tbody>
                                                    <tr>
                                                        <th style="background-color:rgb(15, 13, 13);" colspan="2"></th>
                                                        <td style="background-color: rgb(199, 202, 202);" colspan="2">Véhicules lourds PTC  15 t</td>
                                                        <td style="background-color: rgb(199, 202, 202);" colspan="2">Véhicules lourds PTC  15 t</td>
                                                        <td style="background-color: rgb(199, 202, 202);" colspan="2">Autocars</td>
                                                      </tr>
                                                  <tr>
                                                    <th style="background-color: rgb(7, 145, 85); color: #fff;" colspan="2">Résultat</th>
                                                    <td style="background-color: rgb(199, 202, 202);">Favorable</td>
                                                    <td style="background-color: rgb(199, 202, 202);">Défavorable</td>
                                                    <td style="background-color: rgb(199, 202, 202);">Favorable</td>
                                                    <td style="background-color: rgb(199, 202, 202);">Défavorable</td>
                                                    <td style="background-color: rgb(199, 202, 202);">Favorable</td>
                                                    <td style="background-color: rgb(199, 202, 202);">Défavorable</td>
                                                  </tr>
                                                  <tr>
                                                    <th  style="background-color: rgb(7, 145, 85); color: #fff;" class="vertical-text" rowspan="4">Prix TTC </th>
                                                    <td style="background-color: rgb(199, 202, 202);;">Moins de 8 CV</td>
                                                    <td>300</td>
                                                    <td>240</td>
                                                    <td>300</td>
                                                    <td>240</td>
                                                    <td>300</td>
                                                    <td>240</td>
                                                  </tr>
                                                  <tr>
                                                    <td style="background-color:rgb(199, 202, 202);;">De 8 à 10 CV</td>
                                                    <td>320</td>
                                                    <td>240</td>
                                                    <td>300</td>
                                                    <td>240</td>
                                                    <td>300</td>
                                                    <td>240</td>
                                                  </tr>
                                                  <tr>
                                                    <td style="background-color: rgb(199, 202, 202);;">De 11 à 14 CV</td>
                                                    <td>340</td>
                                                    <td>240</td>
                                                    <td>300</td>
                                                    <td>240</td>
                                                    <td>300</td>
                                                    <td>240</td>
                                                  </tr>
                                                  <tr>
                                                    <td style="background-color: rgb(199, 202, 202);;">Sup.à 14 CV</td>
                                                    <td>370</td>
                                                    <td>240</td>
                                                    <td>300</td>
                                                    <td>240</td>
                                                    <td>300</td>
                                                    <td>240</td>
                                                  </tr>
                                                </tbody>
                                              </table>
                                            </div>
                                        </div> 
                                    </div>
                                    <div class="col-xl-12 col-lg-12 col-sm-12 col-12" >
                                        <div class="ltn__product-item ltn__product-item-3 text-center">
                                          <div class="table-responsive">
                                            <table class="table table-sm">
                                                <thead>
                                                  <tr>
                                                    <th  style="background-color: rgb(7, 145, 85);"colspan="2"><span style="color: #fff;">Type de contrôle technique</span></th>
                                                    <th style="background-color: gray;" colspan="6">Contrôle complémentaire</th>
                                                  </tr>
                                                </thead>
                                                <tbody>
                                                    <tr>
                                                        <th style="background-color:rgb(15, 13, 13);" colspan="2"></th>
                                                        <td style="background-color: rgb(199, 202, 202);" colspan="2">Véhicules lourds PTC  15 t</td>
                                                        <td style="background-color: rgb(199, 202, 202);" colspan="2">Véhicules lourds PTC  15 t</td>
                                                        <td style="background-color: rgb(199, 202, 202);" colspan="2">Autocars</td>
                                                      </tr>
                                                  <tr>
                                                    <th style="background-color:rgb(7, 145, 85); color: #fff;" colspan="2">Résultat</th>
                                                    <td style="background-color: rgb(199, 202, 202);">Favorable</td>
                                                    <td style="background-color: rgb(199, 202, 202);">Défavorable</td>
                                                    <td style="background-color: rgb(199, 202, 202);">Favorable</td>
                                                    <td style="background-color: rgb(199, 202, 202);">Défavorable</td>
                                                    <td style="background-color: rgb(199, 202, 202);">Favorable</td>
                                                    <td style="background-color: rgb(199, 202, 202);">Défavorable</td>
                                                  </tr>
                                                  <tr>
                                                    <th  style="background-color: rgb(7, 145, 85); color: #fff;" class="vertical-text" rowspan="4">Prix TTC </th>
                                                    <td style="background-color: rgb(199, 202, 202);;">Moins de 8 CV</td>
                                                    <td>300</td>
                                                    <td>240</td>
                                                    <td>300</td>
                                                    <td>240</td>
                                                    <td>300</td>
                                                    <td>240</td>
                                                  </tr>
                                                  <tr>
                                                    <td style="background-color:rgb(199, 202, 202);;">De 8 à 10 CV</td>
                                                    <td>320</td>
                                                    <td>240</td>
                                                    <td>300</td>
                                                    <td>240</td>
                                                    <td>300</td>
                                                    <td>240</td>
                                                  </tr>
                                                  <tr>
                                                    <td style="background-color: rgb(199, 202, 202);;">De 11 à 14 CV</td>
                                                    <td>340</td>
                                                    <td>240</td>
                                                    <td>300</td>
                                                    <td>240</td>
                                                    <td>300</td>
                                                    <td>240</td>
                                                  </tr>
                                                  <tr>
                                                    <td style="background-color: rgb(199, 202, 202);;">Sup.à 14 CV</td>
                                                    <td>370</td>
                                                    <td>240</td>
                                                    <td>300</td>
                                                    <td>240</td>
                                                    <td>300</td>
                                                    <td>240</td>
                                                  </tr>
                                                </tbody>
                                              </table>
                                          </div>
                                        </div> 
                                    </div>
                                    <div class="col-xl-12 col-lg-12 col-sm-12 col-12" >
                                        <div class="ltn__product-item ltn__product-item-3 text-center">
                                          <div class="table-responsive">
                                            <table class="table table-sm">
                                                <thead>
                                                  <tr>
                                                    <th  style="background-color: rgb(7, 145, 85);"colspan="2"><span style="color: #fff;">Type de contrôle technique</span></th>
                                                    <th style="background-color: gray;" colspan="6">Contrôle mutation </th>
                                                  </tr>
                                                </thead>
                                                <tbody>
                                                    <tr>
                                                        <th style="background-color:rgb(15, 13, 13);" colspan="2"></th>
                                                        <td style="background-color: rgb(199, 202, 202);" colspan="2">Véhicules lourds PTC  15 t</td>
                                                        <td style="background-color: rgb(199, 202, 202);" colspan="2">Véhicules lourds PTC  15 t</td>
                                                        <td style="background-color: rgb(199, 202, 202);" colspan="2">Autocars</td>
                                                      </tr>
                                                  <tr>
                                                    <th style="background-color:rgb(7, 145, 85); color: #fff;" colspan="2">Résultat</th>
                                                    <td style="background-color: rgb(199, 202, 202);">Favorable</td>
                                                    <td style="background-color: rgb(199, 202, 202);">Défavorable</td>
                                                    <td style="background-color: rgb(199, 202, 202);">Favorable</td>
                                                    <td style="background-color: rgb(199, 202, 202);">Défavorable</td>
                                                    <td style="background-color: rgb(199, 202, 202);">Favorable</td>
                                                    <td style="background-color: rgb(199, 202, 202);">Défavorable</td>
                                                  </tr>
                                                  <tr>
                                                    <th  style="background-color: rgb(7, 145, 85); color: #fff;" class="vertical-text" rowspan="4">Prix TTC </th>
                                                    <td style="background-color: rgb(199, 202, 202);;">Moins de 8 CV</td>
                                                    <td>300</td>
                                                    <td>240</td>
                                                    <td>300</td>
                                                    <td>240</td>
                                                    <td>300</td>
                                                    <td>240</td>
                                                  </tr>
                                                  <tr>
                                                    <td style="background-color:rgb(199, 202, 202);;">De 8 à 10 CV</td>
                                                    <td>320</td>
                                                    <td>240</td>
                                                    <td>300</td>
                                                    <td>240</td>
                                                    <td>300</td>
                                                    <td>240</td>
                                                  </tr>
                                                  <tr>
                                                    <td style="background-color: rgb(199, 202, 202);;">De 11 à 14 CV</td>
                                                    <td>340</td>
                                                    <td>240</td>
                                                    <td>300</td>
                                                    <td>240</td>
                                                    <td>300</td>
                                                    <td>240</td>
                                                  </tr>
                                                  <tr>
                                                    <td style="background-color: rgb(199, 202, 202);;">Sup.à 14 CV</td>
                                                    <td>370</td>
                                                    <td>240</td>
                                                    <td>300</td>
                                                    <td>240</td>
                                                    <td>300</td>
                                                    <td>240</td>
                                                  </tr>
                                                </tbody>
                                              </table>
                                          </div>
                                        </div> 
                                    </div>
                                    <div class="col-xl-12 col-lg-12 col-sm-12 col-12" >
                                        <div class="ltn__product-item ltn__product-item-3 text-center">
                                          <div class="table-responsive">
                                            <table class="table table-sm">
                                                <thead>
                                                  <tr>
                                                    <th  style="background-color: rgb(7, 145, 85);"colspan="2"><span style="color: #fff;">Type de contrôle technique</span></th>
                                                    <th style="background-color: gray;" colspan="6">Contrôle mutation complémentaire </th>
                                                  </tr>
                                                </thead>
                                                <tbody>
                                                    <tr>
                                                        <th style="background-color:rgb(15, 13, 13);" colspan="2"></th>
                                                        <td style="background-color: rgb(199, 202, 202);" colspan="2">Véhicules lourds PTC  15 t</td>
                                                        <td style="background-color: rgb(199, 202, 202);" colspan="2">Véhicules lourds PTC  15 t</td>
                                                        <td style="background-color: rgb(199, 202, 202);" colspan="2">Autocars</td>
                                                      </tr>
                                                  <tr>
                                                    <th style="background-color:rgb(7, 145, 85); color: #fff;" colspan="2">Résultat</th>
                                                    <td style="background-color: rgb(199, 202, 202);">Favorable</td>
                                                    <td style="background-color: rgb(199, 202, 202);">Défavorable</td>
                                                    <td style="background-color: rgb(199, 202, 202);">Favorable</td>
                                                    <td style="background-color: rgb(199, 202, 202);">Défavorable</td>
                                                    <td style="background-color: rgb(199, 202, 202);">Favorable</td>
                                                    <td style="background-color: rgb(199, 202, 202);">Défavorable</td>
                                                  </tr>
                                                  <tr>
                                                    <th  style="background-color: rgb(7, 145, 85); color: #fff;" class="vertical-text" rowspan="4">Prix TTC </th>
                                                    <td style="background-color: rgb(199, 202, 202);;">Moins de 8 CV</td>
                                                    <td>300</td>
                                                    <td>240</td>
                                                    <td>300</td>
                                                    <td>240</td>
                                                    <td>300</td>
                                                    <td>240</td>
                                                  </tr>
                                                  <tr>
                                                    <td style="background-color:rgb(199, 202, 202);;">De 8 à 10 CV</td>
                                                    <td>320</td>
                                                    <td>240</td>
                                                    <td>300</td>
                                                    <td>240</td>
                                                    <td>300</td>
                                                    <td>240</td>
                                                  </tr>
                                                  <tr>
                                                    <td style="background-color: rgb(199, 202, 202);;">De 11 à 14 CV</td>
                                                    <td>340</td>
                                                    <td>240</td>
                                                    <td>300</td>
                                                    <td>240</td>
                                                    <td>300</td>
                                                    <td>240</td>
                                                  </tr>
                                                  <tr>
                                                    <td style="background-color: rgb(199, 202, 202);;">Sup.à 14 CV</td>
                                                    <td>370</td>
                                                    <td>240</td>
                                                    <td>300</td>
                                                    <td>240</td>
                                                    <td>300</td>
                                                    <td>240</td>
                                                  </tr>
                                                </tbody>
                                              </table>
                                          </div>
                                        </div> 
                                    </div>
                                   <div class="col-xl-12 col-lg-12 col-sm-12 col-12" >
                                        <div class="ltn__product-item ltn__product-item-3 text-center">
                                          <div class="table-responsive">
                                            <table class="table table-sm">
                                                <thead>
                                                  <tr>
                                                    <th  style="background-color: rgb(7, 145, 85);"colspan="2"><span style="color: #fff;">Type de contrôle technique</span></th>
                                                    <th style="background-color: gray;" colspan="6">Contrôle volontaire </th>
                                                  </tr>
                                                </thead>
                                                <tbody>
                                                    <tr>
                                                        <th style="background-color:rgb(15, 13, 13);" colspan="2"></th>
                                                        <td style="background-color: rgb(199, 202, 202);" colspan="2">Véhicules lourds PTC  15 t</td>
                                                        <td style="background-color: rgb(199, 202, 202);" colspan="2">Véhicules lourds PTC  15 t</td>
                                                        <td style="background-color: rgb(199, 202, 202);" colspan="2">Autocars</td>
                                                      </tr>
                                                  <tr>
                                                    <th style="background-color:rgb(7, 145, 85); color: #fff;" colspan="2">Résultat</th>
                                                    <td style="background-color: rgb(199, 202, 202);">Favorable</td>
                                                    <td style="background-color: rgb(199, 202, 202);">Défavorable</td>
                                                    <td style="background-color: rgb(199, 202, 202);">Favorable</td>
                                                    <td style="background-color: rgb(199, 202, 202);">Défavorable</td>
                                                    <td style="background-color: rgb(199, 202, 202);">Favorable</td>
                                                    <td style="background-color: rgb(199, 202, 202);">Défavorable</td>
                                                  </tr>
                                                  <tr>
                                                    <th  style="background-color: rgb(7, 145, 85); color: #fff;" class="vertical-text" rowspan="4">Prix TTC </th>
                                                    <td style="background-color: rgb(199, 202, 202);;">Moins de 8 CV</td>
                                                    <td>300</td>
                                                    <td>240</td>
                                                    <td>300</td>
                                                    <td>240</td>
                                                    <td>300</td>
                                                    <td>240</td>
                                                  </tr>
                                                  <tr>
                                                    <td style="background-color:rgb(199, 202, 202);;">De 8 à 10 CV</td>
                                                    <td>320</td>
                                                    <td>240</td>
                                                    <td>300</td>
                                                    <td>240</td>
                                                    <td>300</td>
                                                    <td>240</td>
                                                  </tr>
                                                  <tr>
                                                    <td style="background-color: rgb(199, 202, 202);;">De 11 à 14 CV</td>
                                                    <td>340</td>
                                                    <td>240</td>
                                                    <td>300</td>
                                                    <td>240</td>
                                                    <td>300</td>
                                                    <td>240</td>
                                                  </tr>
                                                  <tr>
                                                    <td style="background-color: rgb(199, 202, 202);;">Sup.à 14 CV</td>
                                                    <td>370</td>
                                                    <td>240</td>
                                                    <td>300</td>
                                                    <td>240</td>
                                                    <td>300</td>
                                                    <td>240</td>
                                                  </tr>
                                                </tbody>
                                              </table>
                                              </div>
                                        </div> 
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="tab-pane fade" id="liton_tab_2_3">
                            <div class="ltn__product-tab-content-inner">
                                <div class="row ltn__tab-product-slider-one-active slick-arrow-1">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- PRODUCT TAB AREA END -->
