BREADCRUMB AREA START

<div style="padding-top: 230px;">
   
    <div style="padding-top: 100px;
    padding-bottom: 55px;" class="ltn__breadcrumb-area ltn__breadcrumb-area-2 ltn__breadcrumb-color-white bg-overlay-theme-black-90 bg-image mb-0" data-bs-bg="assets/img/contact/logoCentres/autoraute.png">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="ltn__breadcrumb-inner ltn__breadcrumb-inner-2 justify-content-between">
                        <div class="section-title-area ltn__section-title-2">
                            <h6 class="section-subtitle ltn__secondary-color">//  Bienvenue à nos centers</h6>
                            <h1 class="section-title white-color">NOS CENTRES DE CONTRÔLE TECHNIQUE<br></h1>
                            
                        </div>
                        <div class="ltn__breadcrumb-list">
                            <ul style="width: 160px;">
                                <li><a href="index.html">Home</a></li>
                                
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>                                                                                      

</div>


<div class="ltn__google-map-locations-area" *ngIf="geograph" >
    <div id="gmap" *ngIf="geograph">
        <div *ngIf="geograph">
          <div  *ngIf="geograph" class="map-container">
            <div  class="map-frame" *ngIf="geograph">
              <div *ngIf="geograph" id="map"></div>
            </div>
          </div>
        </div>
        
    </div>
</div>


<div class="ltn__google-map-locations-list-area mt-115 mb-70">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="ltn__location-search mb-100" >
                    <div class="section-title-area ltn__section-title-2 ">
                        <h1 class="section-title">Trouver votre centre plus proche<span>.</span></h1>
                    </div>
                    <form  class="clearfix" >
                        <div >
                            <form style="padding: 0px; color: floralwhite ;width: auto;" [formGroup]="myForm" (submit)="onSubmit()">
                                <div class="row" style="margin-left: 50px; margin-right: 50px;">
                                    <div class="col-xl-2 col-sm-12 ">
                                        <label style=" margin: 10px;" for="check">Trier par Km</label>
                                        <input type="checkbox"  id="check"  class="form-check-input" formControlName="checkboxControl" style="margin-top: 23px;" (change)="toggleCityInput()">
                                   </div>
                                   <div class="col-xl-4 col-sm-12 ">
                                    <input  formControlName="city"  type="text" placeholder="Ville" list="dynmicUserIds" id="inputSearch" style="width: 100%;">     
                                    <datalist id="dynmicUserIds">
                                        <option *ngFor="let city of Cities" [value]="city">{{city}}</option>
                                     </datalist>
                                </div>
                                <div class="col-xl-4 col-sm-12">                                <input  formControlName="nomReseau" style="width:100%" type="text" placeholder="Nom de réseau" list="dynmicUserIds1" id="inputSearch" >  
                                    <datalist id="dynmicUserIds1">
                                       <option *ngFor="let resaux of Reseaux" [value]="resaux">{{resaux}}</option>
                                    </datalist>
                                </div>
                                <div class="col-xl-2  col-sm-12">
                                    <button style="width:100%" class="btn2" type="submit">Chercher</button>
                                </div>
         
                                </div>
                            </form>
                            
                        </div>
                       
                      </form>   
                </div>
                <div *ngIf="myForm.value.checkboxControl==false && error==true">
                    <p-messages [(value)]="messages" [enableService]="false"></p-messages>
                  </div>
            </div>
           
          
            <div >
                <div *ngIf="ville && !(ville && nomReseau)" class="row">
                    <div *ngIf="ville" class="col-md-12">
                        <div class="ltn__state-location">
                            <h2 class="ltn__state-location-title">{{ville}}</h2>
                        </div>
                    </div>
                </div>
                <div class="row" *ngIf="ville && !(ville && nomReseau)" >
                    <div class="col-md-4" *ngFor="let center of getCentersByCity()" >
                        <div class="ltn__map-item" [style.background-image]="'url(' + center.logReseau + ')'" style="
                        background-repeat: no-repeat;
                        background-position: top right;
                        background-size: 72px;" >
                            
                            <h3 class="ltn__location-name" >  {{  center.name}} </h3>
                            <h5 class="ltn__location-single-info"><i class="fas fa-map-marked-alt"></i>{{center.adresse}}<br></h5>
                            <h4 class="ltn__location-single-info"><i class="fas fa-phone-volume"></i>{{center.tele}}</h4>
                            <div class="btn-wrapper">
                                <a [href]="'/Center-details?id=' + center.id" class="link-link"><i class="fa fa-memo-circle-check"></i> Détail centre</a>
                            </div>
                        </div>
                    </div> 
                </div>
                
                <div class="row" *ngIf="( !ville && !nomReseau) && myForm.value.checkboxControl!==true "  >
                    <div class="col-md-4" *ngFor="let center of centers" >
                        <div class="ltn__map-item" [style.background-image]="'url(' + center.logReseau + ')'" style="
                        background-repeat: no-repeat;
                        background-position: top right;
                        background-size: 72px;">

                            <h3 class="ltn__location-name" >  {{  center.name}} </h3>
                            <h5 class="ltn__location-single-info"><i class="fas fa-map-marked-alt"></i>{{center.adresse}}<br></h5>
                            <h4 class="ltn__location-single-info"><i class="fas fa-phone-volume"></i>{{center.tele}}</h4>
                            <div class="btn-wrapper">
                                <a [href]="'/Center-details?id=' + center.id" class="link-link"><i class="fa fa-memo-circle-check"></i>Détail centre</a>
                            </div>
                        </div>
                    </div> 
                </div>
  
                
                <div class="row" *ngIf="myForm.value.checkboxControl && calcul!==false && !ville  "  >
                    <div class="col-md-4" *ngFor="let center of Centers1" >
                        <div class="ltn__map-item" [style.background-image]="'url(' + center.logReseau + ')'" style="
                        background-repeat: no-repeat;
                        background-position: top right;
                        background-size: 72px;">
                            <div class="container">
                                <div class="info">
                                    <span  [ngStyle]="{'left.px': center.distance >= 10 ? 280 : 290}" *ngIf="center.distance > 0 " style="font-size: 1rem; font-weight: bold;     left: 277px;padding: 1px;
                                        position: absolute;
                                        color: rgb(214, 14, 14);margin-top: 5px;" >{{center.distance}} Km</span>
                                        <h3 class="ltn__location-name" >  {{  center.name}} </h3>
                                </div>

                                
                            </div>
                            
                            
                            <h5 class="ltn__location-single-info"><i class="fas fa-map-marked-alt"></i>{{center.adresse}}<br></h5>
                            <h4 class="ltn__location-single-info"><i class="fas fa-phone-volume"></i>{{center.tele}}</h4>
                            <div class="btn-wrapper" style="margin-left: 25%;">
                                <a [href]="'/Center-details?id=' + center.id" class="link-link"><i class="fa fa-memo-circle-check"></i>Détail centre</a>
                            </div>
                        </div>
                    </div> 
                </div>
                <div *ngIf="nomReseau && error==false && !(nomReseau && ville)" class="row">
                    <div *ngIf="nomReseau &&  error==false" class="col-md-12">
                        <div class="ltn__state-location">
                            <h2 class="ltn__state-location-title">{{nomReseau}}</h2>
                        </div>
                    </div>
                </div>
                <div class="row" *ngIf="nomReseau && error==true  && !(nomReseau && ville)" >
                    <div class="col-md-4" *ngFor="let center of getCentersByReseau()" >
                        <div class="ltn__map-item" [style.background-image]="'url(' + center.logReseau + ')'" style="
                        background-repeat: no-repeat;
                        background-position: top right;
                        background-size: 72px;" >
                            
                            <h3 class="ltn__location-name" >  {{  center.name}} </h3>
                            <h5 class="ltn__location-single-info"><i class="fas fa-map-marked-alt"></i>{{center.adresse}}<br></h5>
                            <h4 class="ltn__location-single-info"><i class="fas fa-phone-volume"></i>{{center.tele}}</h4>
                            <div class="btn-wrapper">
                                <a [href]="'/Center-details?id=' + center.id" class="link-link"><i class="fa fa-memo-circle-check"></i> Détail centre</a>
                            </div>
                        </div>
                    </div> 
                </div>
                <div *ngIf="nomReseau && ville && error==false" class="row">
                    <div *ngIf="nomReseau && ville && error==false" class="col-md-12">
                        <div class="ltn__state-location">
                            <h2 class="ltn__state-location-title">{{ville}} : {{nomReseau}}</h2>
                        </div>
                    </div>
                </div>
                <div class="row" *ngIf="nomReseau && ville && error==false" >
                    <div class="col-md-4" *ngFor="let center of getCentersByCityAndReseau()" >
                        <div class="ltn__map-item" [style.background-image]="'url(' + center.logReseau + ')'" style="
                        background-repeat: no-repeat;
                        background-position: top right;
                        background-size: 72px;" >
                            
                            <h3 class="ltn__location-name" >  {{  center.name}} </h3>
                            <h5 class="ltn__location-single-info"><i class="fas fa-map-marked-alt"></i>{{center.adresse}}<br></h5>
                            <h4 class="ltn__location-single-info"><i class="fas fa-phone-volume"></i>{{center.tele}}</h4>
                            <div class="btn-wrapper">
                                <a [href]="'/Center-details?id=' + center.id" class="link-link" ><i class="fa fa-memo-circle-check"></i> Détail centre</a>
                            </div>
                        </div>
                    </div> 
                </div>
                
               
            </div>    
                  
        </div>
    </div>
</div>
