<div class="ltn__contact-address-area mb-90" *ngFor="let center of Data" >
    <div class="container">
        <div class="row">
            <div class="col-lg-4">
                <div class="ltn__contact-address-item ltn__contact-address-item-3 box-shadow" style="height: 295px;">
                    <div class="ltn__contact-address-icon">
                        <img src="assets/img/icons/10.png" style="max-width: 55px;" alt="Icon Image">
                    </div>
                    <h3 style="color: darkslategrey;" >Email</h3>
                    <a id="emailLink" href="mailto:{{email}}" >{{center.name}}@gmail.com</a>
                    
                   
                </div>
            </div>
            <div class="col-lg-4">
                <div class="ltn__contact-address-item ltn__contact-address-item-3 box-shadow" style="height: 295px;">
                    <div class="ltn__contact-address-icon">
                        <img src="assets/img/icons/11.png" style="max-width: 55px;" alt="Icon Image">
                    </div>
                    <h3 style="color: darkslategrey;">Télèphone</h3>
                    <p>{{center.tele}} <br></p>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="ltn__contact-address-item ltn__contact-address-item-3 box-shadow" style="height: 295px;">
                    <div class="ltn__contact-address-icon">
                        <img src="assets/img/icons/12.png" style="max-width: 55px;" alt="Icon Image">
                    </div>
                    <h3 style="color: darkslategrey;">Addresse</h3>
                    <p>{{center.adresse}}<br>
                        </p>
                </div>
            </div>
        </div>
    </div>
</div>
