.c-item {
  height: 550px;
}
a.bnt.theme-bnt-1:hover {
  background-color: white;
  color: black;
  border: 1px solid black;
  transition: 1s;
}
button.bnt.theme-bnt-1:hover {
  background-color: white;
  color: black;
  border: 1px solid black;
  transition: 1s;
}

.c-img {
  height: 100%;
  object-fit: cover;
  filter: brightness(0.6);
}
.btn-wrapper {
  display: block;
  margin-top: 30px; }

.bnt {
  border-radius: 0;
  display: inline-block;
  font-size: 16px;
  font-weight: 700;
  font-family: var(--ltn__heading-font);
  padding: 17px 40px;
  text-align: center;
  cursor: pointer;
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  position: relative;
  z-index: 1;
  margin-right: 15px; }
  .btn:last-child {
    margin-right: 0; }

.theme-bnt-1 {
  background-color: var(--ltn__secondary-color);
  color: var(--white); }
  .theme-btn-1:hover {
    background-color: var(--ltn__primary-color);
    color: black; }

    a, a:hover, a:focus, a:active {
      text-decoration: none;
      outline: none;
      color: inherit;
  }
  a {
      color: inherit;
      text-decoration: none;
      color: var(--ltn__paragraph-color);
      -webkit-transition: all 0.3s ease 0s;
      -o-transition: all 0.3s ease 0s;
      transition: all 0.3s ease 0s;
  }
  a {
      color: #0d6efd;
      text-decoration: underline;
  }
  a, a:hover, a:focus, a:active {
      text-decoration: none;
      outline: none;
      color: inherit;
  }
  a {
      color: inherit;
      text-decoration: none;
      color: var(--ltn__paragraph-color);
      -webkit-transition: all 0.3s ease 0s;
      -o-transition: all 0.3s ease 0s;
      transition: all 0.3s ease 0s;
  }
  a {
      color: #0d6efd;
      text-decoration: underline;
  }
  a, a:hover, a:focus, a:active {
      text-decoration: none;
      outline: none;
      color: inherit;
  }
  a {
      color: inherit;
      text-decoration: none;
      color: var(--ltn__paragraph-color);
      -webkit-transition: all 0.3s ease 0s;
      -o-transition: all 0.3s ease 0s;
      transition: all 0.3s ease 0s;
  }