<mat-stepper [linear]="true" [formGroup]="stepperFormGroup" labelPosition="bottom" #stepper style="margin-bottom: 100px;">
    <mat-step [stepControl]="firstFormGroup">
      <form [formGroup]="firstFormGroup">
        <ng-template matStepLabel> Informations personnelles</ng-template>
        <div class="row">
            <div class="col-md-6">
                <mat-form-field>
                    <mat-label>Prénom</mat-label>
                   <div class="input-item input-item-name ltn__custom-icon">
                      <input matInput placeholder="Prénom" formControlName="PreCtrl" required >
                   </div>
                   <mat-error *ngIf="firstFormGroup?.get('PreCtrl')?.hasError('required')">Le prénom est requis.</mat-error>
                   <mat-error *ngIf="firstFormGroup?.get('PreCtrl')?.hasError('maxlength')">Le prénom ne doit pas dépasser 100 caractères.</mat-error>
                  </mat-form-field>
            </div>
            <div class="col-md-6">
                <mat-form-field>
                    <mat-label>Nom </mat-label>
                   <div  class="input-item input-item-name ltn__custom-icon">
                      <input matInput placeholder="Nom de famille" formControlName="NomCtrl" required >
                   </div>
                   <mat-error *ngIf="firstFormGroup?.get('NomCtrl')?.hasError('required')">Le nom est requis.</mat-error>
                   <mat-error *ngIf="firstFormGroup?.get('NomCtrl')?.hasError('maxlength')">Le nom ne doit pas dépasser 100 caractères.</mat-error>
                  </mat-form-field>
            </div>
            <div class="col-md-6">
                <mat-form-field>
                    <mat-label>Adresse e-mail</mat-label>
                   <div class="input-item input-item-email ltn__custom-icon">
                      <input matInput placeholder="Adresse e-mail" formControlName="EmailCtrl" required >
                   </div>
                   <mat-error *ngIf="firstFormGroup?.get('EmailCtrl')?.hasError('required')">L'adresse e-mail est requise.</mat-error>
                   <mat-error *ngIf="firstFormGroup?.get('EmailCtrl')?.hasError('email')">L'adresse e-mail doit être valide.</mat-error>
                  </mat-form-field>
            </div>
            <div class="col-md-6">
                <mat-form-field>
                    <mat-label>Numéro de téléphone</mat-label>
                   <div  class="input-item input-item-phone ltn__custom-icon">
                      <input matInput placeholder="Numéro de téléphone" formControlName="TeleCtrl" required >
                   </div>
                   <mat-error *ngIf="firstFormGroup?.get('TeleCtrl')?.hasError('required')">Le numéro de téléphone est requis.</mat-error>
                   <mat-error *ngIf="firstFormGroup?.get('TeleCtrl')?.hasError('pattern')">Le numéro de téléphone doit être au format marocain.</mat-error>
                  </mat-form-field>
            </div>
        </div>
        <div>
          <button matStepperNext class="button">Suivant</button>
        </div>
      </form>
    </mat-step>
    <mat-step [stepControl]="secondFormGroup" optional>
      <form [formGroup]="secondFormGroup">
        <ng-template matStepLabel>Informations sur les véhicules</ng-template>
          <div class="row">
               <div class="col-md-4">
                <mat-form-field>
                    <mat-label>Marque</mat-label>
                    <input matInput formControlName="MakeCtrl" placeholder="Ex. BMW , mercedes, Audi"
                     required>
                  </mat-form-field>
                  <mat-error *ngIf="secondFormGroup?.get('MakeCtrl')?.hasError('required')">La marque est requise.</mat-error>
                  <mat-error *ngIf="secondFormGroup?.get('MakeCtrl')?.hasError('maxlength')">La marque ne doit pas dépasser 100 caractères.</mat-error>
               </div>
               <div class="col-md-4">
                <mat-form-field>
                    <mat-label>Modèle</mat-label>
                    <input matInput formControlName="ModelCtrl" placeholder="Ex. 6 series, 7 seriesv, 8 series"
                     required>
                  </mat-form-field>
                  <mat-error *ngIf="secondFormGroup?.get('ModelCtrl')?.hasError('required')">Le modèle est requis.</mat-error>
                  <mat-error *ngIf="secondFormGroup?.get('ModelCtrl')?.hasError('maxlength')">Le modèle ne doit pas dépasser 100 caractères.</mat-error>
               </div>
               <div class="col-md-4">
                <mat-form-field>
                    <mat-label>Numéro d'immatriculation</mat-label>
                    <input matInput formControlName="MatriculeCtrl" placeholder="Numéro d'immatriculation"
                     required>
                  </mat-form-field>
                  <mat-error *ngIf="secondFormGroup?.get('MatriculeCtrl')?.hasError('required')">Le matricule est requis.</mat-error>
                  <mat-error *ngIf="secondFormGroup?.get('MatriculeCtrl')?.hasError('maxlength')">Le matricule  ne doit pas dépasser 100 caractères.</mat-error>
               </div>
          </div>
    
        <div>
          <button  class="button" matStepperPrevious>Retour</button>
          <button  class="button" matStepperNext>Suivant</button>
        </div>
      </form>
    </mat-step>


    

     <mat-step [stepControl]="thirdFormGroup" optional>
        <form [formGroup]="thirdFormGroup">
          <ng-template matStepLabel>Choisissez le centre</ng-template>
          <div class="row">
            <div class="col-lg-12 col-md-6">
              <div class="input-item input-item-time">
                <mat-form-field>
                  <mat-label>choiser votre centre</mat-label>
                  <mat-select formControlName="centreCtrl" >
                    <ng-container *ngIf="selectedCentreId === null">
                        <mat-option *ngFor="let  centre of filteredCentres" [value]="centre.value">
                         {{centre.viewValue}}
                        </mat-option>
                    </ng-container>

                    <ng-container *ngIf="selectedCentreId !== null">
                      <mat-option *ngFor="let centre of filteredCentres" [value]="centre.value" >
                        {{ centre.viewValue }}
                      </mat-option>
                    </ng-container>
                  </mat-select>
                  
                  <mat-error *ngIf="thirdFormGroup?.get('centreCtrl')?.hasError('required')">Veuillez sélectionner un centre de service.</mat-error>
                </mat-form-field>
            </div>
            </div>
         </div>
          <div>
            <button  class="button" matStepperPrevious>Retour</button>
            <button  class="button" matStepperNext>Suivant</button>
          </div>
        </form>
      </mat-step> 



      <mat-step [stepControl]="fourthFormGroup" optional>
        <form [formGroup]="fourthFormGroup">
          <ng-template matStepLabel>sélectionner la date et l'heure</ng-template>
          <div class="row">
            <div class="col-md-6">
                <mat-form-field>
                  <mat-label>sélectionner la date et l'heure</mat-label>
                  <input matInput [matDatepicker]="picker" formControlName="dateCtrl">
                  <mat-hint>MM/DD/YYYY</mat-hint>
                  <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
                  <mat-datepicker #picker></mat-datepicker>
                  <mat-error *ngIf="fourthFormGroup?.get('dateCtrl')?.hasError('required')">La date du rendez-vous est requise.</mat-error>
                </mat-form-field>
            </div>
            <div class="col-md-6">
                <div class="input-item input-item-time">
                    <mat-form-field>
                      <mat-label>HH:MM</mat-label>
                      <mat-select formControlName="timeCtrl" >
                        <mat-option *ngFor="let time of times" [value]="time.value">
                          {{time.viewValue}}
                        </mat-option>
                      </mat-select>
                      <mat-error *ngIf="fourthFormGroup?.get('timeCtrl')?.hasError('required')">L'heure du rendez-vous est requise.</mat-error>
                    </mat-form-field>
                </div>
            </div>
        </div>
          <div>
            <button  class="button" matStepperPrevious>Retour</button>
            <button  class="button" matStepperNext>Suivant</button>
          </div>
        </form>
      </mat-step>


      <mat-step [stepControl]=" fifthFormGroup" optional>
        <form [formGroup]=" fifthFormGroup">
          <ng-template matStepLabel>Description de la réclamation</ng-template>
          <div class="row">
            <div class="col-md-12">
              <mat-form-field>
                  <mat-label>Nature de la réclamation</mat-label>
                  <mat-select formControlName="typeRecCtrl">
                      <mat-option *ngFor="let nature of typeReclamations" [value]="nature.code">
                          {{nature.name}}
                      </mat-option>
                  </mat-select>
                  <mat-error *ngIf="fifthFormGroup?.get('typeRecCtrl')?.hasError('required')">Veuillez sélectionner la nature de la réclamation.</mat-error>
              </mat-form-field>
          </div>
          <div class="col-md-12">
              <mat-form-field>
                  <mat-label>Description détaillée de la réclamation et des problèmes rencontrés</mat-label>
                  <textarea matInput formControlName="descriptionCtrl" rows="4" required></textarea>
                  <mat-error *ngIf="fifthFormGroup?.get('descriptionCtrl')?.hasError('required')">Veuillez fournir une description détaillée de la réclamation.</mat-error>
              </mat-form-field>
          </div>
        </div>
          <div>
            <button  class="button" matStepperPrevious>Retour</button>
            <button  class="button" matStepperNext>Suivant</button>
          </div>
        </form>
      </mat-step>


      <mat-step [stepControl]="sixthFormGroup" optional>
        <form [formGroup]="sixthFormGroup">
          <ng-template matStepLabel>Documents pertinents</ng-template>
          <div class="row">
            <div class="row">
              <div class="col-md-6">
                  <mat-form-field>
                      <label>Copie du reçu de la visite technique</label>
                      <input matInput type="file" formControlName="receiptCtrl" (change)="onReceiptChange($event)">
                  </mat-form-field>
                  <div *ngIf="selectedReceipt">
                    <img [src]="selectedReceipt" style="    width: 200px;
                    margin-bottom: 30px" alt="Receipt sélectionné">
                </div>
              </div>
              <div class="col-md-6">
                  <mat-form-field>
                      <label>Photos des problèmes rencontrés (le cas échéant)</label>
                      <input matInput type="file" formControlName="mediaCtrl" (change)="onPhotoChange($event)">
                  </mat-form-field>
                  <div *ngIf="selectedPhoto">
                    <img [src]="selectedPhoto" style="    width: 200px;
                    margin-bottom: 30px" alt="Receipt sélectionné">
                </div>
              </div>
          </div>
        </div>
          <div>
            <button  class="button" matStepperPrevious>Retour</button>
            <button  class="button" matStepperNext>Suivant</button>
          </div>
        </form>
      </mat-step>


      <mat-step [stepControl]="seventhFormGroup" optional>
        <form [formGroup]="seventhFormGroup">
          <ng-template matStepLabel>Statut du véhicule et Demande de résolution</ng-template>
          <div class="row">
            <div class="col-md-12">
              <mat-form-field>
                <mat-label>Statut du véhicule</mat-label>
                <mat-select formControlName="statutVehuculeCtrl">
                    <mat-option *ngFor="let statut of statutVehicules" [value]="statut.code">
                        {{statut.name}}
                    </mat-option>
                </mat-select>
                  <mat-error *ngIf="seventhFormGroup?.get('statutVehuculeCtrl')?.hasError('required')">Veuillez sélectionner le statut du véhicule.</mat-error>
              </mat-form-field>
          </div>
          <div class="col-md-12">
              <mat-form-field>
                  <mat-label>Comment souhaitez-vous que la réclamation soit résolue ?</mat-label>
                  <mat-select formControlName="resolutionCtrl">
                      <mat-option *ngFor="let resolution of resolutions" [value]="resolution.code">
                          {{resolution.name}}
                      </mat-option>
                  </mat-select>
                  <mat-error *ngIf="seventhFormGroup?.get('resolutionCtrl')?.hasError('required')">Veuillez fournir votre demande de résolution.</mat-error>
              </mat-form-field>
          </div>

        </div>
          <div>
            <button  class="button" matStepperPrevious>Retour</button>
            <button  class="button" matStepperNext>Suivant</button>
          </div>
        </form>
      </mat-step>

    <mat-step>
      <ng-template matStepLabel>Terminer</ng-template>
      <p>Vous avez terminé.</p>
      <div>
        <form [formGroup]="seventhFormGroup" (ngSubmit)="submitReclamationData()">
        <button  class="button" matStepperPrevious>Retour</button>
        <button class="Annuler" (click)="stepper.reset()">Annuler</button>
        <button  class="Soumettre" type="submit" (click)="showSwwal()">Soumettre</button>
      </form>
      </div>
    </mat-step>
    
  </mat-stepper>