<meta name="viewport" content="width=device-width, initial-scale=1.0">

<div class="article-content clearfix " *ngFor="let center of centersData">
  
    
  <br />
  <div style="margin-top: 77px;" class="entry-content clearfix">
    <div style="padding-top: 182px;
        margin-bottom: -252px;">
  <div class="row">
    <div class="col-md-8" style="height: 42px;
    margin-top: 56px;">
     <h1 style="font-size: 40px;
     color: var(--bs-green);
     text-transform: uppercase;
     font-weight: 700;">Centre {{center.name}}</h1>
    </div>
    <div class="col-md-4" style="height: 100px; position: relative;">
      <img src="{{center.logReseau}}" style="position: absolute; bottom: 0; right: 12px;">
  </div>
  

  </div>  
</div>
    <p>
      <app-slider-detail></app-slider-detail>
    </p>
    <h3 style="font-size: 32px;
    color: var(--bs-green);
    text-transform: uppercase;
    font-weight: 700;
    position: relative;
    padding-bottom: 20px;
    /* display: inline-block; */
    text-align: center;">Coordonnées</h3>
   
   
    <app-information [Data]="centersData"></app-information>
    <h3 style="font-size: 32px;
    color: var(--bs-green);
    text-transform: uppercase;
    font-weight: 700;
    position: relative;
    padding-bottom: 20px;
    margin-top: -100px;
    text-align: center;">Type de Véhicule :</h3>
   
    
    <ul class="typeVeh" style="margin: 0 24% 0 26%;
    display: inline-flex;
    margin-bottom: 30px;;">
        <li style=" padding: 35px; list-style: none;" *ngFor="let type of center.categorie">
          <div style="display: flex; align-items: center;">
            <i style="color:#007D40; font-size: 50px;" class="fa-solid custom-icon" [ngClass]="{'fa-car': type === 'Voiture', 'fa-truck': type === 'Camion', 'fa-motorcycle': type === 'Moto'}"></i>
            
          </div>
          <span class="type">{{type}}</span> 
        </li>
      </ul>
    <h3 style="font-size: 32px;
    color: var(--bs-green);
    text-transform: uppercase;
    font-weight: 700;
    position: relative;
    padding-bottom: 20px;
    /* display: inline-block; */
    text-align: center;">Horaires d’ouvertures :</h3>
    <div class="col-xl-4 col-md-5" style="border: 2px solid;width: auto;">
      <div class="footer-widget ltn__footer-timeline-widget ltn__footer-timeline-widget-1" style="margin-left: -31px;">
          
          <ul>
              <li>Lundi <span>08:00AM - 18:30PM</span></li>
              <li>Mardi <span>08:00AM - 18:30PM</span></li>
              <li>Mercredi <span>08:00AM - 18:30PM</span></li>
              <li>Jeudi <span>08:00AM - 18:30PM</span></li>
              <li>Vendredi <span>08:00AM - 18:30PM</span></li>
              <li>Samedi <span>08:00AM - 12:00AM</span></li>
              <li>Dimaunche   <span ><i class="fa fa-lock" style="color: orangered; margin-left: -70px;"></i></span></li>
          </ul>
      </div>
  </div>

    
    <div id="map"></div>
    <div  style="margin-top: 20px;" >
      <h2 style="margin-top: 15px;font-size: 32px;
      color: var(--bs-green);
      text-transform: uppercase;
      font-weight: 700;
      position: relative;
      padding-bottom: 20px;
      
      text-align: center;" *ngIf="Centers1.length >= 1">Centres à proximité</h2>
      <div style="margin-top: 20px; " class="row" >
        <div *ngFor="let center of Centers1" class="col-lg-4" >
          <div class="ltn__map-item " [style.background-image]="'url(' + center.logReseau + ')'" style="
          background-repeat: no-repeat;
          background-position: top right;
          background-size: 72px;">
            <div class="container">
              <div class="info">
                <h3 class="ltn__location-name" style="font-family: Arial, Helvetica, sans-serif; color: #007D40;
                  border-bottom: 2px #007D40 solid; padding: 5px 10px 5px 10px; margin-bottom: 12px; font-size: 20px;">
                  {{ center.name }}
                </h3>
              </div>
            </div>
            <h5 class="ltn__location-single-info" style="font-size: 15px;">
              <i class="fas fa-map-marked-alt" style="color: var(--ltn__secondary-color); background-color: transparent;
                width: 34px; height: 40px; font-style:normal ;"></i>{{ center.adresse }}<br>
            </h5>
            <h4 class="ltn__location-single-info" style="font-family: Arial, Helvetica, sans-serif;
              margin-bottom: 1px; font-size: 17px;">
              <i class="fas fa-phone-volume" style="color: var(--ltn__secondary-color); background-color: transparent;
                width: 34px; height: 40px;font-style:normal"></i>{{ center.tele }}
            </h4>
            <div class="btn-wrapper" style="width: 200px;margin-left: 20px;">
              <a [href]="'/Center-details?id=' + center.id" class="btn btn-transparent btn-border btn-effect-3"
                style="height: 73px; margin: 6px; margin-left: 60px; padding: 17px; margin-top: 1px;">
                <i class="fa fa-memo-circle-check" style="font-style: normal;"></i> Details Center
              </a>
            </div>
          </div>
        </div>
      </div>
      
    </div>
    <div class="ltn_page-details-area ltn_blog-details-area mb-50 mt-50">
      <div class="container">
          <div class="row">
              <div class="col-lg-12">
                  <div class="ltn__blog-details-wrap">
                      <!-- comment-reply -->
                      <div class="ltn_comment-reply-area ltn_form-box mb-60---">
                          <h4 class="title-2">Poster un commentaire</h4>
                          <form  [formGroup]="CommentForm"  id="comment-form" (submit)="sendComment()" >
                              <div class="row">
                                <div class="flex justify-content-center " style="padding-bottom: 20px;">
                                  <p-rating  formControlName="rating" [cancel]="false"></p-rating>
                                </div>
                                  <div class="input-item input-item-textarea ltn__custom-icon col-md-12">
                                      <textarea placeholder="Type your comments...."  name="description" formControlName="description"></textarea>
                                  </div>
                                  <div class="input-item input-item-name  col-md-12"> 
                                      <div class="btn-wrapper">
                                          <button class="btn theme-btn-1 btn-effect-1 text-uppercase" type="submit"><i class="far fa-comments"></i> Poster un commentaire</button>
                                      </div>
                                  </div>
                                  
                              </div>
                          </form>
                      </div>
                  </div>
              </div>
          </div>
      </div>
    </div>
    
    <a href="javascript:history.back()" class="l"><button  style="    margin-top: 12px;
      margin-bottom: 13px;
      width: 100px;
      height: 47px;
      background-color: var;
      background-color: var(--bs-green);"><i class="fas fa-chevron-left"></i>Retour </button></a>
  </div>
  
</div>



