<div class="article-content clearfix " *ngFor="let center of centersData">
  <div class="entry-container">
    <header class="entry-header">
      <h1 class="entry-title">Centre {{center.name}}</h1>
    </header>
    <div class="above-entry-meta">
      <span class="cat-links" style="font-family: 'Rajdhani';
      color: beige;">Ville {{center.ville}}</span>
    </div>
  </div>
  

  <br />
  <div style="
  margin-top: -200px;
" class="entry-content clearfix">
    <p>
      <app-slider-detail></app-slider-detail>
    </p>
    <h3 style="font-size: 32px;
    color: var(--bs-green);
    text-transform: uppercase;
    font-weight: 700;
    position: relative;
    padding-bottom: 20px;
    /* display: inline-block; */
    text-align: center;">Coordonnées</h3>
   
   
    <app-information [Data]="centersData"></app-information>
    <h3 style="font-size: 32px;
    color: var(--bs-green);
    text-transform: uppercase;
    font-weight: 700;
    position: relative;
    padding-bottom: 20px;
    margin-top: -100px;
    text-align: center;">Type de Véhicule :</h3>
   
    
    <ul class="typeVeh" style="    margin: 0 24% 0 26%;
    display: inline-flex;
    margin-bottom: 30px;;">
        <li style=" padding: 35px;" *ngFor="let type of center.categorie">
          <div style="display: flex; align-items: center;">
            <i style="color:#007D40" class="fa-solid custom-icon" [ngClass]="{'fa-car': type === 'Voiture', 'fa-truck': type === 'Camion', 'fa-motorcycle': type === 'Moto'}"></i>
            
          </div>
          <span class="type">{{type}}</span> 
        </li>
      </ul>
    <h3 style="font-size: 32px;
    color: var(--bs-green);
    text-transform: uppercase;
    font-weight: 700;
    position: relative;
    padding-bottom: 20px;
    /* display: inline-block; */
    text-align: center;">Horaires d’ouvertures :</h3>
    <div class="col-xl-4 col-md-5" style="    border: 2px solid;
    padding: 10px;
    width: 943px;
    margin-bottom: 20px;">
      <div class="footer-widget ltn__footer-timeline-widget ltn__footer-timeline-widget-1" style="margin-left: -31px;">
          
          <ul>
              <li>Lundi <span>08:00AM - 18:30PM</span></li>
              <li>Mardi <span>08:00AM - 18:30PM</span></li>
              <li>Mercredi <span>08:00AM - 18:30PM</span></li>
              <li>Jeudi <span>08:00AM - 18:30PM</span></li>
              <li>Vendredi <span>08:00AM - 18:30PM</span></li>
              <li>Samedi <span>08:00AM - 12:00AM</span></li>
              <li>Dimaunche   <span ><i class="fa fa-lock" style="color: orangered; margin-left: -70px;"></i></span></li>
          </ul>
      </div>
  </div>

    
    <div id="map"></div>
    <div style="margin-top: 20px;">
      <h2 style="margin-top: 15px;font-size: 32px;
      color: var(--bs-green);
      text-transform: uppercase;
      font-weight: 700;
      position: relative;
      padding-bottom: 20px;
      /* display: inline-block; */
      text-align: center;">Centres à proximité</h2>
      <div style="margin-top: 20px;">
        <div *ngFor="let center of Centers1" style="display: inline-block; margin-left: 6px;">
          <div class="ltn__map-item" style="width: 304px; height: 244px; background-color: rgb(253 253 253);">
            <div class="container">
              <div class="info">
                <h3 class="ltn__location-name" style="font-family: Arial, Helvetica, sans-serif; color: #007D40;
                  border-bottom: 2px #007D40 solid; padding: 5px 10px 5px 10px; margin-bottom: 12px; font-size: 20px;">
                  {{ center.name }}
                </h3>
              </div>
            </div>
            <h5 class="ltn__location-single-info" style="font-size: 15px;">
              <i class="fas fa-map-marked-alt" style="color: var(--ltn__secondary-color); background-color: transparent;
                width: 34px; height: 40px; font-style:normal ;"></i>{{ center.adresse }}<br>
            </h5>
            <h4 class="ltn__location-single-info" style="font-family: Arial, Helvetica, sans-serif;
              margin-bottom: 1px; font-size: 17px;">
              <i class="fas fa-phone-volume" style="color: var(--ltn__secondary-color); background-color: transparent;
                width: 34px; height: 40px;font-style:normal"></i>{{ center.tele }}
            </h4>
            <div class="btn-wrapper" style="width: 200px;margin-left: 20px;">
              <a [href]="'/Center-details?id=' + center.id" class="btn btn-transparent btn-border btn-effect-3"
                style="height: 73px; margin: 6px; margin-left: 60px; padding: 17px; margin-top: 1px;">
                <i class="fa fa-memo-circle-check" style="font-style: normal;"></i> Details Center
              </a>
            </div>
          </div>
        </div>
      </div>
      
    </div>
    
    <a href="javascript:history.back()" class="l"><button  style="margin-top: 8px;"><i class="fas fa-chevron-left"></i>Retour </button></a>
  </div>
  
</div>



