.ltn__footer-timeline-widget{
   padding: 50px 50px 40px;
   border-bottom:0;
    border-color:none;
    margin-top:0;
}
.clearfix{
   width: 89%;
   margin: auto;
 
}

.map-container {
   position: absolute;
   top: 120px;
   left: 0;
   right: 0;
   bottom: 0;
   margin: 30px;
   
 }
 #map {
   margin-top: 12px;
   width: 100%;
   height: 500px;
   z-index: 1;
 }
 
 .map-frame {
   padding: 10px;
   background-color: darkseagreen;
   border: 2px solid rgb(216, 210, 210);
   height: 590px;
   width: 100%;
   margin-top: 660px;
}
.commont{
  background-color: var(--ltn__secondary-color-3);
  height: 61px;
  width: auto;
  font-family: var(--ltn__heading-font);
  font-size: 19px;
  font-weight: bold;
  color: #fff;
}
.button1{
  background-color: var(--bs-green);
  color: var(--border-color-1);
  padding: 8px 15px 8px 15px;
}
.button2{
  background-color: var(--bs-green);
  color: var(--border-color-1);
  padding: 8px 16px 8px 17px;
}
.button1:hover{
  background-color:white;
  color: black;
}
.button2:hover{
  background-color:white;
  color: black;
}

.buttonUl{
  list-style: none;
  display: inline;
}
@media(max-width:767px){
 .button1{
  font-size: 8.5px;
 }
}
@media(max-width:767px){
  .button2{
   font-size: 8.5px;
  }
 }
 @media(max-width:767px){
  .titre{
   font-size: 14px;
  }
 }